# Basic
### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
favorite_number = 3
print(favorite_number)


# Create another variable that represents your favorite color, and do the same steps as above.
favorite_color = "blue"
print(favorite_color)

### P3.PY

In [0]:
"""
Hello, it's me. I was wondering if after all these years you'd like to meet.\nArtist: Adele\nSong Title: Hello
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

# Typecasting
### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

int_to_float = float(5.0), float(0.0), float(-8.0), float(-22.0)
float_to_int = int(5), int(0), int(-8), int(-22)

print("float")
print(int_to_float)

print("int")
print(float_to_int)

### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

int_to_string = str(five), str(zero), str(neg_8), str(T), str(F)

print(int_to_string)

### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

int_to_boolean = bool(1)
int_to_boolean = bool(0)

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
boolean_to_float = float(int_to_boolean)

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
float_to_boolean = bool(boolean_to_float)

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
boolean_to_int = int(float_to_boolean)

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

int_to_boolean = bool(10)
print(int_to_boolean)

### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

int_to_boolean = bool(one)
int_to_boolean2 = bool(zero)
print(int_to_boolean)
print(int_to_boolean2)

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

boolean_to_int = int(int_to_boolean)
print(boolean_to_int)

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

# Operators
### P1.PY

In [0]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
num1 = orig_var + 50
print(num1)

# Subtract 90
num2 = num1 - 90
print(num2)

# Multiply 10
num3 = num2 * 10
print(num3)

# Divide 150
num4 = num3 / 150
print(num4)

# Modulus 3
num5 = num4 % 3
print(num5)

### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

a = "I will go to the beach today,"
b = "I will go snorkeling."

print(a + b)
print(a + 'and' + b)
print(a, 'and', b)

### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a + b)



# B)
c = '0'
d = '2'
print(c + d)



# C)
e = "0"
f = 2

### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)



# B)
c = False
d = False

print(c + d)



# C)
e = True
f = False

print(e + f)