<a href="https://colab.research.google.com/github/jeannkwonn/PYTH_Homework_Submissions/blob/master/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic
### P1.PY

In [4]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

variable = None
print(variable)

# None is a datatype null

None

### P2.PY

In [12]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
favorite_number = 3
print(type(favorite_number))
print(favorite_number)

# Create another variable that represents your favorite color, and do the same steps as above.
favorite_color = "blue"
print(type(favorite_color))
print(favorite_color)

<class 'int'>
3
<class 'str'>
blue

### P3.PY

In [17]:
# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

lyrics = """
Hello, it's me.
I was wondering if after all these years
you'd like to meet.
Artist: Adele
Song Title: Hello
"""

print(lyrics)

Hello, it's me.
I was wondering if after all these years
you'd like to meet.
Artist: Adele
Song Title: Hello

# Typecasting
### P1.PY

In [26]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

int_to_float = float(five), float(zero), float(neg_8), float(neg_22)
float_to_int = int(five), int(zero), int(neg_8), int(neg_22)

print(type(5.0))
print(int_to_float)

print(type(5))
print(float_to_int)

<class 'float'>
(5.0, 0.0, -8.0, -22.0)
<class 'int'>
(5, 0, -8, -22)

### P2.PY

In [33]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

int_to_string = str(five), str(zero), str(neg_8), str(T), str(F)

print(type(int_to_string))
print(int_to_string)

print(str(five))

<class 'tuple'>
('5', '0', '-8', 'True', 'False')
5

### P3.PY

In [44]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

b_one = bool(one)
b_zero = bool(zero)

print(bool(one))
print(bool(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

f_one = float(b_one)
print(b_one)

f_zero = float(b_zero)
print(b_zero)

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

b_one = bool(f_one)
b_zero = bool(f_zero)

print(b_one)
print(b_zero)

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
i_one = int(b_one)
i_zero = int(b_zero)

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

print(bool(10))

True
False
True
False
True
False
True

### P4.PY

In [47]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

s_one = str(one)
s_zero = str(zero)
s_bool_true = str(bool_true)
s_bool_false = str(bool_false)

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

print(bool_true, bool_false, s_one, s_zero)

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

True False 1 0

# Operators
### P1.PY

In [49]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
num1 = orig_var + 50
print(num1)

# Subtract 90
num2 = num1 - 90
print(num2)

# Multiply 10
num3 = num2 * 10
print(num3)

# Divide 150
num4 = num3 / 150
print(num4)

# Modulus 3
num5 = num4 % 3
print(num5)

150
60
600
4.0
1.0

### P2.PY

In [50]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

a = "I will go to the beach today,"
b = "I will go snorkeling."

compound = a + ",and" + b

print(a + b)
print(a + 'and' + b)
print(a, 'and', b)

I will go to the beach today,I will go snorkeling.
I will go to the beach today,andI will go snorkeling.
I will go to the beach today, and I will go snorkeling.

### P3.PY

In [52]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

print(a + b)



# B)
c = '0'
d = '2'
print(c + d)



# C)
e = "0"
f = 2
print(e + f)

2
02

TypeError: ignored

### P4.PY

In [53]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)



# B)
c = False
d = False

print(c + d)



# C)
e = True
f = False

print(e + f)

2
0
1